CS32_Project01/CS32_Project01.VC.db
CS32_Project01/Debug/CS32_Project01.exe
CS32_Project01/Debug/CS32_Project01.pdb
CS32_Project01/Debug/CS32_Project01.ilk
CS32_Project01/CS32_Project01.VC.VC.opendb
CS32_Project01/CS32_Project01/Debug/
